{% extends "refurbco/base.html" %}
{% block content %}

<form action='#' method='POST'>
    <div>
        <input type='text' name='orderNumber'>
        <input type='number' name='shipping'>
    </div>
</form>

    <div>
        <input type='text' name='mdap' maxlength='5'>
        <select name='deviceType'>
            {% for device in deviceList %}
            <option value='{{ device.device }}'>{{ device.device }}</option>
            {% endfor %}
        </select>
        <input type='number' name='price'>
        <select name='color'>
            <option value='black'>Black</option>
            <option value='white'>White</option>
        </select>

    </div>
    



{% endblock content %}