{% extends "refurbco/base.html" %}
{% block content %}

<br>
<div class='row'>
    <h1 class='col-lg-8'>Add Order</h1>
    
</div>

<br>

<form action="{% url 'refurbco-addPart' %}" method='POST'> {% csrf_token %}
    <div class='row'>
        
            <div class='col'>
                <label for='orderNumber'>Order Number</label>
                <input type='number' class='form-control' min='0' step='1' id='orderNumber' name='orderNumber' required>
            </div>
            <div class='col'>
                <label for='orderQuantity'>Quantity</label>
                <input type='number' class='form-control' min='0' step='1' id='orderQuantity' name='quantity' required>
            </div>

        
    </div><br>
    <div class='row'>
            <div class='col'>
                    <label for='subtotal'>Subtotal</label>
                    <input type='number' class='form-control' min='0' step='.01' id='subtotal' name='subtotal' required>
                </div>
                <div class='col'>
                    <label for='shipping'>Shipping & Handling</label>
                    <input type='number' class='form-control' min='0' step='1' id='shipping' name='shipping' required>
                </div>
    </div><br>
    <input type='submit' class='btn btn-success btn-block' value='Add Order'>
</form>

    



{% endblock content %}

