{% extends "refurbco/base.html" %}
{% block content %}

<br>
    <div class='row'>
        <h1 class='col-lg-8'>Invoices</h1>
        <form class='col-lg-4' action="#" method="GET">
            <input type='submit' class='btn btn-success btn-block' value="Generate Invoices">
        </form>
    </div>

<form action='#' method='POST'>
    <div class='form-group'>
        <input type='text' name='orderNumber'>
        <input type='number' name='shipping'>
    </div>
</form>

    <div>
        <input type='text' name='mdap' maxlength='5'>
        <select name='deviceType'>
            {% for device in deviceList %}
            <option value='{{ device.device }}'>{{ device.device }}</option>
            {% endfor %}
        </select>
        <input type='number' name='price'>
        <select name='color'>
            <option value='black'>Black</option>
            <option value='white'>White</option>
        </select>

    </div>
    



{% endblock content %}