{% extends "refurbco/base.html" %}
{% block content %}
<div class="dashboards">
    <p class="formatting" style="text-align:center;">Build a Query!</p>
    <form action="#" method="get">
        <select name="deviceType" required>
            <option value="">--</option>
            <option value="iphone6">iPhone 6</option>
            <option value="iphone6plus">iPhone 6+</option>
            <option value="iphone7">iPhone 7</option>
            <option value="iphone7plus">iPhone 7+</option>
        </select>
        <select name="partType" required>
            <option value="">--</option>
            <option value="screen">Screen</option>
            <option value="battery">Battery</option>
            <option value="chargePort">Charging Port</option>
            <option value="screenProt">Tempered Glass Screen Protector</option>
        </select>
        <select name="color">
            <option value="">--</option>
            <option value="black">Black</option>
            <option value="white">White</option>
        </select>
        <input type="submit" value="Execute!" id="buttonFormat">
    </form>
    <table align="center">
        <tr>
            <th>Device</th>
            <th>Part</th>
            <th>Color</th>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
        <tr>
            <td>Device data</td>
            <td>Part Data</td>
            <td>Color Data</td>
        </tr>
    </table>
</div>
{% endblock content %}