{% extends "refurbco/base.html" %}
{% block content %}
<div class="">
    <br>
    <div class='row'>
        <h1 class='col-lg-8'>Invoices</h1>
        <form class='col-lg-4' action="#" method="GET">
            <input type='submit' class='btn btn-success btn-block' value="Generate Invoices">
        </form>
    </div>
    <table class='table table-striped'>
            <thead>
                <tr>
                    <th scope='col'>Invoice #</th>
                    <th scope='col'>Ticket #</th>
                    <th scope='col'>Owner</th>
                    <th scope='col'>Returned On</th>
                    <th scope='col'>Charged</th>
                    <th scope='col'>Paid (Y/N)</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
            <tr>
                <td scope='row'>{{ invoice.id }}</td>
                <td>{{ invoice.repairticket.ticket_number }}</td>
                <td>{{ invoice.repairticket.device_owner }}</td>
                <td>{{ invoice.created_on }}</td>
                <td>{{ invoice.charged }}</td>
                <td>{{ invoice.paid }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock content %}